<div class="home_picture_header">
</div>
<div class="home_info_block">
	<div class="info_block_top_text" >
		info here
	</div>
	<img class="home_green_bit" src="/assets/home_green_bit.png" alt="">
	<div>
		<div>
			<div class="info_block_bottom_div">
				
			</div>
			<p class="info_block_bottom_text" >
				all the info here all the info here all the info here all the info here all the info here all the info here
			</p>
			<img class="home_second_green_bit" src="/assets/home_second_green_bit.png" alt="">
		</div>
	</div>
</div>
<div class="home_break_up_info">
	differant color info
</div>
<div class="home_bottom_info">
	info
</div>
