
<div class="home_picture_header">
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 col-xs-0">
		</div>
		<div class="col-md-6 col-xs-12">
			info hereall the info here all the info here all the info here all the info here all the info here all the info here all the info here all the info here all the info here all the info here all the info here all the info here all the info here all the info here all the info here all the info here all the info here all the info here
		</div>
		<div class="col-md-3 col-xs-0">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<img class="home_green_bit" src="/assets/home_green_bit.png" alt="">
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-0">
		</div>
		<div class="col-md-6 col-sm-12">
			<p>
				all the info here all the info here all the info here all the info here all the info here all the info here all the info here all the info here all the info here all the info here all the info here all the info here all the info here all the info here all the info here all the info here all the info here all the info here
			</p>
		</div>
		<div class="col-md-3 col-sm-12 center">
			<img class="home_second_green_bit" src="/assets/home_second_green_bit.png" alt="">
		</div>
	</div>
	<div class="row home_break_up_info">
		<div class="col-md-1 col-sm-0">

		</div>
		<div class="col-md-7 col-sm-12">
			differant color info
		</div>
		<div class="col-md-4 col-sm-12">
			Other info here
		</div>
	</div>
	<div class="row grey" style="height: 20px;">
	</div>
	<div class="row home_bottom_info center grey">
		<div class="col-md-6 col-sm-6">
			<img src="/assets/624547296.jpg" alt="">
		</div>
		<div class="col-md-6 col-sm-6">
			info
		</div>
	</div>
	<div class="row home_bottom_info center grey">
		<div class="col-md-6 col-sm-6">
			info
		</div>
		<div class="col-md-6 col-sm-6">
			<img src="/assets/525799810.jpg" alt="">
		</div>
	</div>
	<div class="row home_bottom_info center grey">
		<div class="col-md-6 col-sm-6">
			<img src="/assets/620006352.jpg" alt="">
		</div>
		<div class="col-md-6 col-sm-6">
			info
		</div>
	</div>
</div>
