


<div class="about_us_pic" style="height: 200px; margin-top: -29px; ">
	<h2 class="center" style="padding-top: 30px; color: white; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
		Thank you for visiting New pointe
	</h2>
</div>
<div class="container">
	<div class="row" style="height: 20px;">
	</div>
	<div class="row">
		<h4 class="col-md-6 col-sm-12 shading double_space">
			
		&nbsp &nbsp &nbsp &nbsp My name is Tyler Thompson and I am the founder of New Pointe, LLC.
		I have been interested in developing a new and improved Noodle system for many years as I discovered a need in the industry during my tenure as a technician/installer. 
		<br>&nbsp &nbsp &nbsp &nbsp Over the past 5 years, I encountered many inferior systems with defects and deficiencies including but not limited to retrievers breaking, hooks disassembling, etc. As an experienced technician, I was convinced there had to be a better way. The Patent Pending New Pointe Noodle system is the culmination of many years of design, testing and inventing an improved product.
		<br>&nbsp &nbsp &nbsp &nbsp We are a small family run business located in Salt Lake City, Utah. New Point, LLC has been operating as a business for just over 5 years.
		I hope you enjoy your visit to our website and that you have you have found the information helpful. We look forward to working with you.
		<br>Thank You , Tyler Thompson
		</h4>
		<div class="col-md-1 col-sm-0">
		</div>
		<div class="center col-md-5 col-sm-12 basic_border">
			<img src="/assets/instructions.png" alt="">
		</div>
	</div>
</div>
