


<div class="about_us_pic" style="height: 200px; margin-top: -29px; ">
	<h2 class="center white_text" style="padding-top: 30px;">
		Thank you for visiting New pointe
	</h2>
</div>
<div class="container shading" style="margin-top: 10px">
	<div class="row" style="height: 20px;">
	</div>
	<div class="row ">
		<h1 class="col-md-6 col-sm-12">
		Your photo
		</h1>
		<h4 class="col-md-6 col-sm-12 double_space">
			&nbsp &nbsp &nbsp &nbsp My name is Tyler Thompson and I am the founder of New Pointe, LLC.
			I have been interested in developing a new and improved Noodle system for many years as I discovered a need in the industry during my tenure as a technician/installer. 
		</h4>
		<div class="col-md-1 col-sm-0">
		</div>
	</div>
	<div class="row">
		<h4 class="col-md-12 col-sm-12 double_space">
			&nbsp &nbsp &nbsp &nbsp Over the past 5 years, I encountered many inferior systems with defects and deficiencies including but not limited to retrievers breaking, hooks disassembling, etc. As an experienced technician, I was convinced there had to be a better way. The Patent Pending New Pointe Noodle system is the culmination of many years of design, testing and inventing an improved product.
			<br>&nbsp &nbsp &nbsp &nbsp We are a small family run business located in Salt Lake City, Utah. New Point, LLC has been operating as a business for just over 5 years.
			I hope you enjoy your visit to our website and that you have you have found the information helpful. We look forward to working with you.
			<br>&nbsp &nbsp &nbsp &nbsp Thank You , Tyler Thompson
		</h4>
	</div>
</div>
