

<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<p class="center">Contact Us</p>
			<p class="center">info@newpointetools.com</p>
			<p class="center">sales@newpointetools.com</p>
			<p class="center">support@newpointetools.com</p>
			<p class="center">PO Box  I will get a PO Box so I do not use my home address. Or a UPS address..</p>
		</div>
		<div class="col-md-6 col-sm-12">
			<p class="center">Feedback</p>
			<p class="center">Testimonials</p>
		</div>
	</div>
</div>
