

<div class="container-fluid no_padding">
	<div class="row ">
		<div class="col-md-12 col-sm-12">
		<img src="/assets/logo2.gif" alt="">
		</div>
	</div>
</div>
<div class="container">
	<div class="row basic_border">
		<div class="col-md-12 col-sm-12">
			<h5>Any questions please reach out</h5>
		</div>
	</div>
	<div class="row shading">
		<div class="col-md-6 col-sm-12">
			<h5 >Contact Us</h5>
			<p >info@newpointetools.com</p>
			<p >sales@newpointetools.com</p>
			<p >support@newpointetools.com</p>
			<p >PO Box  I will get a PO Box so I do not use my home address. </p>
		</div>
		<div class="col-md-6 col-sm-12">
			<p >Feedback</p>
			<p >Testimonials</p>
		</div>
	</div>
</div>
