
<div class="ball_chain_div">
	<img src="/assets/ball_chain.png" alt="">
</div>
<div class="assistance_tube_div">
	<img src="/assets/assistance_tube.png" alt="">
</div>
<div class="expandable_hook_div">
	<img src="/assets/pen_hook.png" alt="">
</div>
<div class="noodle_div">
	<img src="/assets/noodle.png" alt="">
</div>