
<div class="products_div">
	<div class="ball_chain_div">
		<div class="ball_chain_text inline_block center">
			<p>chain </p>
			<p>Part Number: NPN-CHAIN-10</p>
			<p>Discription: 10' ball chain with safty loop</p>
			<p>Cost: $2.00</p>
		</div>
		<img class="ball_chain_img inline_block" src="/assets/ball_chain.png" alt="">
	</div>
	<div class="assistance_tube_div">
		<img class="assistance_tube_img inline_block" src="/assets/assistance_tube.png" alt="">
		<div class="assistance_tube_text inline_block center">
			<p>Part Number: NPN-TUBE-10</p>
			<p>Discription: 12" Assistance Tube</p>
			<p>Cost: $1.50</p>
		</div>
	</div>
	<div class="expandable_hook_div">
		<div class="expandable_hook_text inline_block center">
			<p>pen hook</p>
			<p>Part Number: NPN-HOOK-10</p>
			<p>Discription: Expandable retrival hook</p>
			<p>Cost: $3.50</p>
		</div>
		<img class="expandable_hook_img inline_block" src="/assets/pen_hook.png" alt="">
	</div>
	<div class="noodle_div">
		<img class="noodle_img inline_block" src="/assets/noodle.png" alt="">
		<div class="noodle_text inline_block center">
			<p>noodle</p>
			<p>Part Number: NPN-1124-V</p>
			<p>Discription: 4 pc kit </p>
			<p>Cost: $15.00</p>
		</div>
	</div>
</div>

