
<div class="product_pic shading" style="height: 200px; margin-top: -29px; ">
	<h2 class="center" style="padding-top: 30px; color: white; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
		Available Products
	</h2>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-push-6 col-sm-12 center">
			<%= image_tag "chain_loop.png", :class => "ball_chain_img inline_block" %>
		</div>
		<div class="col-md-6 col-md-pull-6 col-sm-12 center">
				<p>chain </p>
				<p>Part Number: NPN-CHAIN-10</p>
				<p>Discription: 10' ball chain with safty loop</p>
				<p>Cost: $2.00</p>
				<p>color scheme can be white, grey, white, grey, or yellow, green, blue, red, like the wires.</p>
		</div>
	</div>
	<div class="row grey">
		<div class="col-md-6 col-sm-12 center ">
			<%= image_tag "assistance_tube.png", :class => "assistance_tube_img inline_block" %>
		</div>
		<div class="col-md-6 col-sm-12 center">
			<p>Part Number: NPN-TUBE-10</p>
			<p>Discription: 12" Assistance Tube</p>
			<p>Cost: $1.50</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-push-6 col-sm-12 center">
			<%= image_tag "Pen_hook_.png", :class => "expandable_hook_img inline_block" %>
		</div>
		<div class="col-md-6 col-md-pull-6 col-sm-12 center">
			<p>pen hook</p>
			<p>Part Number: NPN-HOOK-10</p>
			<p>Discription: Expandable retrival hook</p>
			<p>Cost: $3.50</p>
		</div>
	</div>
	<div class="row grey">
		<div class="col-md-6 col-sm-12 center">
			<%= image_tag "noodle1.png", :class => "noodle_img inline_block" %>
		</div>
		<div class="col-md-6 col-sm-12 center">
			<p>noodle</p>
			<p>Part Number: NPN-1124-V</p>
			<p>Discription: 4 pc kit </p>
			<p>Cost: $15.00</p>
		</div>
	</div>
</div>


