// Place all the styles related to the company controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.inline_block {
	display: inline-block;
	width: 49%;

}
.center {
    text-align: center;
}
.ball_chain_div {
	
}
.assistance_tube_div {
	background-color: lightgrey;
}
.expandable_hook_div {

}
.noodle_div {
	background-color: lightgrey;
}
.ball_chain_text {

}
.ball_chain_img {

}
.assistance_tube_img {

}
.assistance_tube_text {

}
.expandable_hook_text {

}
.expandable_hook_img {

}
.noodle_img {

}
.noodle_text {

}
.products_div {
	width: 80%;
	border: 1px solid black;
	margin: auto;
}











