// Place all the styles related to the company controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.inline_block {
	display: inline-block;
	width: 49%;
}
.center {
    text-align: center;
}
.ball_chain_div {
	
}
.assistance_tube_div {
	background-color: lightgrey;
}
.expandable_hook_div {

}
.noodle_div {
	background-color: lightgrey;
}
.ball_chain_text {

}
.ball_chain_img {
	width: 100%;
}
.assistance_tube_img {
	width: 100%;
}
.assistance_tube_text {

}
.expandable_hook_text {

}
.expandable_hook_img {
	width: 100%;
}
.noodle_img {
	width: 100%;
}
.noodle_text {

}
.products_div {
	width: 80%;
	border: 1px solid black;
	margin: auto;
}
.shading {
	box-shadow: 10px 10px 5px #888888;
	border: 1px solid #888888;
}
.basic_border {
	border: 1px solid black;
}
.double_space {
	line-height: 1.7em;
}
.no_padding {
	padding: 0px;
}
.about_us_pic {
	background: image-url('531929170.jpg');
}
.product_pic {
	background: image-url('453171109.jpg');
	border: 2px solid black;
	margin-bottom: 15px;
}
.green {
	background-color: #5da17e;
}
.small_margin {
	margin: 5px;
}
.close_contact_user {
	cursor: pointer;
	background-color: pink;
	width: 30px;
}

























