// Place all the styles related to the distributers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new_distributers_link {
	float: right;
}
.new_distributer {
	margin-left: 150px;
	margin-top: 50px;
}
.edit_distributer {
	margin-left: 150px;
	margin-top: 50px;
}
.edit_admin {
	margin-left: 150px;
	margin-top: 50px;
}

